            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" align="center"><img src="/img/claroTitle.png" alt="clarologo" style="height:150px;"></h1>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-info""></i>  Información
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>“Claro Chile es filial de América Móvil, el grupo de telecomunicaciones más grande de América Latina, que sobresale por su presencia en 18 países y más de 290 millones de clientes de telefonía móvil. 
Claro Chile es una de las principales empresas de telecomunicaciones del país, con alrededor de 6 millones de clientes. Es una compañía que entrega servicios que responden a las necesidades de clientes residenciales, empresas y grandes corporaciones, a través de telefonía fija, soluciones móviles, internet, televisión digital, servicios TI y Data Center.” <a href="http://www.clarochile.cl/portal/cl/pc/personas/institucional/informacion-corporativa/" class="btn btn-info btn-xs" role="button">Ver más</a>
</p>  

                        <div class="col-lg-8">
                            
                                
                                    <h4> Planes</h4>
                                
                                
                                        <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
                                        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-tabs-horizontal">
                                          <li class="active"><a href="compania/claro#htab1" data-toggle="tab">Multimedia</a></li>
                                          <li><a href="compania/claro#htab2" data-toggle="tab">Plan voz cuenta exacta</a></li>
                                           <li><a href="compania/claro#htab3" data-toggle="tab">Internet</a></li>
                                          <li><a href="compania/claro#htab4" data-toggle="tab">Planes Voz</a></li>
                                        </ul>
                                        
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="htab1">
                                                <h4>Con Equipo Nuevo</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                                <th>Redes sociales</th>
                                                                <th>Minutos</th>
                                                                <th>SMS</th>
                                                                <th>Red</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 2,5</td>
                                                                <td>1,5 GB</td>
                                                                <td>1 GB</td>
                                                                <td>200</td>
                                                                <td>200</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$14.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cuenta Exacta Pro+ 4</td>
                                                                <td>4 GB</td>
                                                                <td>4 GB</td>
                                                                <td>400</td>
                                                                <td>400</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$17.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 6</td>
                                                                <td>6 GB</td>
                                                                <td>6 GB</td>
                                                                <td>500</td>
                                                                <td>500</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$21.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pro+ 8</td>
                                                                <td>10 GB</td>
                                                                <td>6 GB</td>
                                                                <td>800</td>
                                                                <td>800</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$24.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 10</td>
                                                                <td>14 GB</td>
                                                                <td>6 GB</td>
                                                                <td>2.400</td>
                                                                <td>2.400</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$29.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Pro+ 12</td>
                                                                <td>18 GB</td>
                                                                <td>6 GB</td>
                                                                <td>2.700</td>
                                                                <td>2.700</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$35.990</td>
                                                            </tr>
                                                              <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 14</td>
                                                                <td>20 GB</td>
                                                                <td>8 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>3.000</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$39.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Pro+ 16</td>
                                                                <td>30 GB</td>
                                                                <td>10 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>3.000</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$49.990</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h4>Planes con equipo propio</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                                <th>Redes sociales</th>
                                                                <th>Minutos</th>
                                                                <th>SMS</th>
                                                                <th>Red</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 2,5</td>
                                                                <td>1,5 GB</td>
                                                                <td>1 GB</td>
                                                                <td>200</td>
                                                                <td>200</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$9.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cuenta Exacta Pro+ 4</td>
                                                                <td>4 GB</td>
                                                                <td>4 GB</td>
                                                                <td>400</td>
                                                                <td>400</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$13.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 6</td>
                                                                <td>6 GB</td>
                                                                <td>6 GB</td>
                                                                <td>500</td>
                                                                <td>500</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$16.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Pro+ 8</td>
                                                                <td>10 GB</td>
                                                                <td>6 GB</td>
                                                                <td>800</td>
                                                                <td>800</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$18.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 10</td>
                                                                <td>14 GB</td>
                                                                <td>6 GB</td>
                                                                <td>2.400</td>
                                                                <td>2.400</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$22.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Pro+ 12</td>
                                                                <td>18 GB</td>
                                                                <td>6 GB</td>
                                                                <td>2.700</td>
                                                                <td>2.700</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$27.990</td>
                                                            </tr>
                                                              <tr>
                                                                <td class="text-nowrap">Cuenta Exacta Pro+ 14</td>
                                                                <td>20 GB</td>
                                                                <td>8 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>3.000</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$31.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Pro+ 16</td>
                                                                <td>30 GB</td>
                                                                <td>10 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>3.000</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$36.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Pro+ 20</td>
                                                                <td>30 GB</td>
                                                                <td>10 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>3.000</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$44.990</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                       

                                            <div role="tabpanel" class="tab-pane fade in" id="htab2">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>SMS</th>
                                                                <th>Valor minuto adicional</th>
                                                                <th>Valor SMS adicional</th>
                                                                <th>Valor MB adicional</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Voz Cuenta Exacta 200</td>
                                                                <td>200</td>
                                                                <td>200</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$30</td>
                                                                <td>$ 9.900</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Voz Cuenta Exacta 400</td>
                                                                <td>400</td>
                                                                <td>400</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$30</td>
                                                                <td>$13.900</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Voz Cuenta Exacta 500</td>
                                                                <td>500</td>
                                                                <td>500</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$30</td>
                                                                <td>$16.900</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab3">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                                <th>Red</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Internet Pro+ 1,5</td>
                                                                <td>1,5 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$9.400</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Internet Pro+ 2</td>
                                                                <td>2 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$13.400</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Internet Pro+ 3</td>
                                                                <td>3 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$16.400</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Internet Pro+ 5</td>
                                                                <td>5 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$18.400</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Internet Pro+ 7</td>
                                                                <td>7 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$22.900</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Internet Pro+ 9</td>
                                                                <td>9 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$22.900</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Internet Pro+ 10</td>
                                                                <td>10 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$30.900</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Internet Pro+ 12</td>
                                                                <td>12 GB</td>
                                                                <td>4G LTECompatible</td>
                                                                <td>$35.400</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab4">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>SMS</th>
                                                                <th>Valor minuto adicional</th>
                                                                <th>Valor SMS adicional</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Voz 800</td>
                                                                <td>800</td>
                                                                <td>800</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$18.900</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Voz 2400</td>
                                                                <td>2.400</td>
                                                                <td>2.400</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$19.980</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Voz 2700</td>
                                                                <td>2.700</td>
                                                                <td>2.700</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$27.900</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Voz Ilimitado</td>
                                                                <td>Ilimitado</td>
                                                                <td>3.000</td>
                                                                <td>$60</td>
                                                                <td>$50</td>
                                                                <td>$31.900</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                </div>



                                

                                
                            

                        
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-phone fa-fw"></i>  Servicios
                                </div>

                                <div class="panel-body">
                                    <ul>
                                        <li>4GLTE+</li>
                                        <li>Roaming</li> 
                                        <li>Recarga</li>
                                        <li>Calcula tu Plan</li> 
                                        <li>Bloqueo por Robo</li> 
                                        <li>Números Unidos</li> 
                                        
                                    </ul>
                                </div>

                                
                            </div>
                        </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-twitter fa-fw"></i> Tweets para Claro
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="mydiv">
                                                    <table class="table table-bordered table-hover table-striped" >
                                                        <thead >
                                                            <tr class="info" >
                                                                <th>usuario</th>
                                                                <th>fecha</th>
                                                                <th>text</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="compania in compania">
                                                                <td>
                                                                    {{compania.usuario}} 
                                                                </td>
                                                                <td>
                                                                    {{compania.fecha}}
                                                                </td>
                                                                <td>
                                                                    {{compania.text}}
                                                                </td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> <!-- div especifico para esta tabla -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>


            </div>
