 

 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Entel</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-info""></i>  Información
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>“Entel es uno de los mayores proveedores de Telecomunicaciones de Chile, gracias a que cuenta con la infraestructura más moderna de la industria.
Opera en Chile hace 50 años donde se ha posicionado como una empresa sólida y confiable, y en Perú opera a través de sus filiales Entel Perú, Americatel Perú y Servicios de Calle Center del Perú.”  <a href="http://informacioncorporativa.entel.cl/sobre-entel/perfil" class="btn btn-info btn-xs" role="button">Ver más</a>
 </p>



                        <div class="col-lg-12">
                            
                                
                                    <h4> Planes</h4>
                                
                                
                                        <a href="compania/entel#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
                                        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-tabs-horizontal">
                                          <li class="active"><a href="compania/entel#htab1" data-toggle="tab">Sin Equipo</a></li>
                                          <li><a href="compania/entel#htab2" data-toggle="tab">Con Equipo</a></li>
                                          <li><a href="compania/entel#htab3" data-toggle="tab">Multimedia</a></li>
                                          <li><a href="compania/entel#htab4" data-toggle="tab">Planes de voz</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="htab1">
                                               
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>Internet</th>
                                                                <th>Cuota exclusiva para musica y video</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Smart Fun SIMple 4 GB</td>
                                                                <td> Ilimitados</td>
                                                                <td>4 GB</td>
                                                                <td> 8 GB</td>
                                                                <td>$ 22.491</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Smart Fun SIMple 5 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>5 GB</td>
                                                                <td>10 GB</td>
                                                                <td>$ 26.991</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Smart Fun SIMple  7 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>7 GB</td>
                                                                <td class="text-nowrap">14 GB</td>
                                                                <td class="text-nowrap">$ 35.991</td>
                                                            </tr>
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>

                                        

                                            <div role="tabpanel" class="tab-pane fade in" id="htab2">
                                        
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>Internet</th>
                                                                <th>Cuota exclusiva para musica y video</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Smart Fun 2 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>2 GB</td>
                                                                <td>8 GB</td>
                                                                <td>$ 23.391</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Smart Fun 3 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>3 GB</td>
                                                                <td>6 GB</td>
                                                                <td>$ 26.991</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Smart Fun 4,5 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>4,5 GB</td>
                                                                <td class="text-nowrap">9 GB</td>
                                                                <td>$ 35.991</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Smart Fun 6 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>6 GB</td>
                                                                <td>12 GB</td>
                                                                <td>$ 44.991</td>
                                                            </tr>
                                                          
                                                            <tr>
                                                                <td class="text-nowrap">Smart Fun 10 GB</td>
                                                                <td>Ilimitados</td>
                                                                <td>10 GB</td>
                                                                <td>20 GB</td>
                                                                <td class="text-nowrap">$ 62.991</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab3">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                                <th>Redes sociales</th>
                                                                <th>Habla hasta</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Controlada  SIMple 1 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Sin costo</td>
                                                                <td>350 Min ó Navega hasta 2.3 GB</td>
                                                                <td>$ 12.591</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Cuenta Controlada 1 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Sin costo</td>
                                                                <td>350 Min ó Navega hasta 2.3 GB</td>
                                                                <td>$ 11.193</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Controlada SIMple 1.5 GB</td>
                                                                <td>3 GB</td>
                                                                <td>Sin costo</td>
                                                                <td>500 Min.ó Navega hasta 3.2 GB</td>
                                                                
                                                                <td>$ 16.191</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cuenta Controlada 1.5 GB</td>
                                                                <td>3 GB</td>
                                                                <td>Sin costo</td>
                                                                <td>350 Min ó Navega hasta 2.3 GB</td>
                                                                <td  class="text-nowrap">$ 14.693</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab4">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>SMS</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Controlada </td>
                                                                <td>350</td>
                                                                <td>500</td>
                                                                <td>$ 13.900</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Cuenta Controlada</td>
                                                                <td>500</td>
                                                                <td>700</td>
                                                                <td>$ 17.500</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Tarifa Única  700</td>
                                                                <td>700</td>
                                                                <td>2.000</td>
                                                                <td>$ 22.500</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Voz Ilimitado </td>
                                                                <td>Ilimitado</td>
                                                                <td>2.000</td>
                                                                <td  class="text-nowrap">$ 25.900</td>
                                                            </tr>
                                                       
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                    
                                    
                                        </div>
                        </div>

                        

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-twitter fa-fw"></i> Tweets para Entel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="mydiv">
                                                    <table class="table table-bordered table-hover table-striped" >
                                                        <thead >
                                                            <tr class="info" >
                                                                <th>usuario</th>
                                                                <th>fecha</th>
                                                                <th>text</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="compania in compania">
                                                                <td>
                                                                    {{compania.usuario}} 
                                                                </td>
                                                                <td>
                                                                    {{compania.fecha}}
                                                                </td>
                                                                <td>
                                                                    {{compania.text}}
                                                                </td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> <!-- div especifico para esta tabla -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                
            </div>
            <!-- /.row -->