<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">titulo page</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-sort-amount-desc""></i>  titulo panel
            </div>
                                <!-- /.panel-heading -->
            <div class="panel-body">
                <table class="table table">
                       <thead>
                            <tr class="info">
                                
                                <th>desaprobacion</th>
                                <th>proporcion</th>
                                <th>malos</th>
                                <th>buenos</th>
                      
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>
                                    {{(indice.desaprobacion | number:2) *100}}% 
                                </td>
                                <td>
                                    {{indice.proporcion | number:2}} 
                                </td>
                                <td>
                                    {{indice.malos}} 
                                </td>
                                <td>
                                    {{indice.buenos }} 
                                </td>
                                
                  

                            </tr>
                        </tbody>
                </table>
            </div>
        </div>

    </div> 
</div>


