<link rel="stylesheet" href="style.css"/>


<div class="row">
    <div class="col-lg-12">

        <h1 class="page-header">Indices Compañia</h1>

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-sort-amount-desc""></i>  Grafico Proporción y Desaprobación
            </div>
                                <!-- /.panel-heading -->
                <div class="col-lg-6">
                    <nvd3 options="options" data="data1" on-ready="callback"></nvd3>
                </div>

                 <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-sort-amount-desc""></i>  Desaprobación
                        </div>
                        <div class="panel-body" align="center">
                            <font size="30">{{(indice.desaprobacion | number:2) *100}}%</font> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> 
</div>


