

<div class="row">
	<div class="col-lg-12">

	    <h1 class="page-header">Estadísticas Generales </h1>

		<div class="panel panel-default">
			<div class="panel-heading">
		        <i class="fa fa-sort-amount-desc""></i>  Porcentaje desaprobación de compañias
		    </div>
		                        <!-- /.panel-heading -->
		    <div class="panel-body">
				<nvd3 options="vm.options" data="vm.data"></nvd3>
			</div>
		</div>

	</div> 
</div>

    <!--<script>document.write('<base href="' + document.location + '" />');</script>-->

    



