     <style>
      #legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }
    </style>

<div class="panel panel-default">
	<div class="panel-heading">
		
		<div layout="row" layout-align="space-between start">
			<h4>Muestra la concentración de reclamos por sector para cada compañia, mientras mas oscuro mas alta es la desaprobación de la compañia.</h4>
		  	<md-button class="md-primary md-raised" ng-click="mostrarMenuCompanias()">Compañia</md-button>
		</div>
	
	</div>

	<div id = "container_mapa" class="panel-body">
		<h5 align = "center">
			Mapa de calor que muestra la concentración de tweets para cada compañia según comuna.	
		</h5>

		<div id="legend"><h3>Leyenda</h3></div>
		<div id="mapa"></div>

	</div>

</div>





  

	
