<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" align="center"><img src="/img/movistarTitle.png" alt="movistarlogo" style="height:90px;"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-info""></i>  Información
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>“Telefónica es una de las mayores compañías de telecomunicaciones del mundo por capitalización bursátil y número de clientes. 
En Chile, Telefónica comercializa sus productos a través de su marca comercial Movistar, proveyendo de servicios móviles y fijos, de banda ancha y de televisión digital, con presencia en el 100% de las comunas del país. Movistar es hoy la mayor comunidad de clientes de Chile, con más de 10 millones de clientes y sobre 14 millones de accesos.” 

<a href="http://www.movistar.cl/web/movistar/quienes-somos" class="btn btn-info btn-xs" role="button">Ver más</a></p>

                        <div class="col-lg-8">
                            
                                
                                    <h4> Planes</h4>
                                
                                
                                        <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
                                        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-tabs-horizontal">
                                          <li class="active"><a href="compañia/movistar#htab1" data-toggle="tab">Multimedia</a></li>
                                          <li><a href="compañia/movistar#htab2" data-toggle="tab">Portabilidad</a></li>
                                          <li><a href="compañia/movistar#htab3" data-toggle="tab">Prepago</a></li>
                                          <li><a href="compañia/movistar#htab4" data-toggle="tab">Internet</a></li>
                                          <li><a href="compañia/movistar#htab5" data-toggle="tab">Voz</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="htab1">
                                               
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Capacidad de navegación</th>
                                                                <th>Redes sociales y APPs</th>
                                                                <th>Minutos</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Multimedia S</td>
                                                                <td>2 GB</td>
                                                                <td>500 MB</td>
                                                                <td>350</td>
                                                                <td>$ 13.600</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Multimedia M</td>
                                                                <td>3 GB</td>
                                                                <td>1 GB</td>
                                                                <td>700</td>
                                                                <td>$ 16.800</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Multimedia L</td>
                                                                <td>5 GB</td>
                                                                <td>1 GB</td>
                                                                <td class="text-nowrap">Min. ilimitados</td>
                                                                <td>$ 24.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Multimedia XL</td>
                                                                <td>7 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 32.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Multimedia Premium</td>
                                                                <td>10 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 44.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Multimedia Top</td>
                                                                <td>14 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 56.000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>

                                        

                                            <div role="tabpanel" class="tab-pane fade in" id="htab2">
                                                <h4>Con Equipo</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Capacidad de navegación</th>
                                                                <th>Redes sociales y APPs</th>
                                                                <th>Minutos</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Portabilidad S</td>
                                                                <td>2 GB</td>
                                                                <td>500 MB</td>
                                                                <td>350</td>
                                                                <td>$ 13.600</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad M</td>
                                                                <td>3 GB</td>
                                                                <td>1 GB</td>
                                                                <td>700</td>
                                                                <td>$ 14.700</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad L</td>
                                                                <td>5 GB</td>
                                                                <td>1 GB</td>
                                                                <td class="text-nowrap">Min. ilimitados</td>
                                                                <td>$ 21.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad XL</td>
                                                                <td>7 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 28.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Portabilidad Premium</td>
                                                                <td>10 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 38.500</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad Top</td>
                                                                <td>14 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 49.000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h4>Sin Equipo</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Capacidad de navegación</th>
                                                                <th>Redes sociales y APPs</th>
                                                                <th>Minutos</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Portabilidad S</td>
                                                                <td>2 GB</td>
                                                                <td>500 MB</td>
                                                                <td>350</td>
                                                                <td>$ 13.600</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad M</td>
                                                                <td>3 GB</td>
                                                                <td>1 GB</td>
                                                                <td>700</td>
                                                                <td>$ 16.800</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad L</td>
                                                                <td>5 GB</td>
                                                                <td>1 GB</td>
                                                                <td class="text-nowrap">Min. ilimitados</td>
                                                                <td>$ 24.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad XL</td>
                                                                <td>7 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 32.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Portabilidad Premium</td>
                                                                <td>10 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 44.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Portabilidad Top</td>
                                                                <td>14 GB</td>
                                                                <td>1 GB</td>
                                                                <td>Min. ilimitados</td>
                                                                <td>$ 56.000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                       

                                            <div role="tabpanel" class="tab-pane fade in" id="htab3">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                                <th>Redes sociales</th>
                                                                <th>Minutos</th>
                                                                <th>SMS</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Avanzado</td>
                                                                <td>500 MB</td>
                                                                <td>500 MB</td>
                                                                <td>50</td>
                                                                <td>50</td>
                                                                <td>$ 5.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Plan Pro</td>
                                                                <td>1 GB</td>
                                                                <td>500 MB</td>
                                                                <td>100</td>
                                                                <td>100</td>
                                                                <td>$ 10.000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h5>*Vigencia: 1 mes.</h5>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab4">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Capacidad navegación</th>
                                                                <th>Tecnología</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Internet S</td>
                                                                <td>2 GB</td>
                                                                <td>4G/3G</td>
                                                                <td>$ 14.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Internet M</td>
                                                                <td>3 GB</td>
                                                                <td>4G/3G</td>
                                                                <td>$ 18.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Internet L</td>
                                                                <td>5 GB</td>
                                                                <td>4G/3G</td>
                                                                <td>$ 28.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Internet XL</td>
                                                                <td>7 GB</td>
                                                                <td>4G/3G</td>
                                                                <td>$ 38.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Internet Premium</td>
                                                                <td>10 GB</td>
                                                                <td>4G/3G</td>
                                                                <td>$ 53.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Plan Internet Top</td>
                                                                <td>14 GB</td>
                                                                <td>4G/3G</td>
                                                                <td>$ 68.000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab5">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>Costo mensual</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Control 350</td>
                                                                <td>350</td>
                                                                <td>$ 15.750</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Libre 700</td>
                                                                <td>700</td>
                                                                <td>$ 20.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Ilimitado</td>
                                                                <td>Ilimitados</td>
                                                                <td>$ 29.000</td>
                                                            </tr>
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                </div>



                                

                                
                            

                        </div>

                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-phone fa-fw"></i>  Servicios
                                </div>

                                <div class="panel-body">
                                    <ul>
                                        <li>Buyback (recompra de equipos)</li>
                                        <li>Estado de recambio de equipo</li> 
                                        <li>Servicios de voz</li>
                                        <li>Mensajería</li> 
                                        <li>Seguros</li> 
                                        <li>Entretención en el móvil</li> 
                                        <li>Descargas</li> 
                                        <li>Información práctica y asistencias</li> 
                                        <li>Servicio técnico</li> 
                                        <li>Tu chip Movistar</li> 
                                        <li>Siempre con saldo (consulta tu saldo con el *303#)</li> 
                                        <li>Backtones</li>
                                    </ul>
                                </div>

                                
                            </div>
                        </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-twitter fa-fw"></i> Tweets para Movistar
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="mydiv">
                                                    <table class="table table-bordered table-hover table-striped" >
                                                        <thead >
                                                            <tr class="info" >
                                                                <th>usuario</th>
                                                                <th>fecha</th>
                                                                <th>text</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="compania in compania">
                                                                <td>
                                                                    {{compania.usuario}} 
                                                                </td>
                                                                <td>
                                                                    {{compania.fecha}}
                                                                </td>
                                                                <td>
                                                                    {{compania.text}}
                                                                </td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> <!-- div especifico para esta tabla -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>