<style>
      
      #boton{
      	background-color: #335fbd;

      }
</style>


<div class="panel panel-default">
	<div class= "panel-heading">
		<h3>Ranking de usuarios:</h3>
		<h5>Muestra el ranking de los usuarios mas influyentes dentro de la plataforma, al seleccionar uno muestra información adicional de éste</h5>
	</div>
	<div class="panel-body">
		<div layout="row" layout-sm="column" layout-align="center center">
		    		<md-progress-circular md-mode="indeterminate" ng-show="cargandoRanking"></md-progress-circular>
		</div>
		<div ng-repeat="user in ranking track by $index">
		     <div flex layout="row">
		 		<md-button id = "boton" flex layout="row" layout-align="space-between start" class="md-primary md-raised" ng-click="mostrarUsuario($index)">
			 		<img class="md-user-avatar" src="{{user.profile_image}}"/>
					<h4> {{user.screen_name}}</h4>
					<h4> {{user.ranking}}</h4>
				</md-button>
			</div>
		</div>


		


	</div>
</div>