
 <a href="#/tweets">Todos los tweets</a>
<h1>Algo</h1>
<table class="table table">
       <thead>
            <tr class="info">
                <th>usuario</th>
                <th>fecha</th>
                <th>text</th>

            </tr>
        </thead>
        <tbody>
      		<tr ng-repeat="tweet in tweets">
				<td>
					{{tweet.usuario}} 
				</td>
				<td>
					{{tweet.fecha}}
				</td>
                <td>
                    {{tweet.text}}
                </td>
			</tr>
        </tbody>
    </table>
