<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" align="center"><img src="/img/womTitle.png" alt="womlogo" style="height:150px;"></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-info""></i>  Información
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <p>“WOM nace a partir de la compra de WOM por parte de Novator, un fondo de inversiones internacional, a comienzos de 2015. Nuestra compañía de telefonía celular y banda ancha móvil está liderada por el CEO Chris Bannister, quien cuenta con una gran experiencia en la industria. Con casi 30 años en el rubro, Chris es reconocido mundialmente por sus exitosos proyectos en Europa, África y Asia. ¡Súmate a la revolución de WOM, y se parte de nuestra historia!.” 
                             <a href="http://www.wom.cl/sobre-wom/" class="btn btn-info btn-xs" role="button">Ver más</a>
                             </p>

                        <div class="col-lg-8">
                            
                                
                                    <h4> Planes y bolsas</h4>
                                
                                
                                        <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
                                        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-tabs-horizontal">
                                          <li class="active"><a href="compañia/wom#htab1" data-toggle="tab">Voz</a></li>
                                          <li><a href="compañia/wom#htab2" data-toggle="tab">Datos</a></li>
                                          <li><a href="compañia/wom#htab3" data-toggle="tab">Mixtos</a></li>
                                          <li><a href="compañia/wom#htab4" data-toggle="tab">Planes</a></li>
                                          <li><a href="compañia/wom#htab5" data-toggle="tab">Solo internet</a></li>
                                          <li><a href="compañia/wom#htab6" data-toggle="tab">Solo Voz</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="htab1">
                                               
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>Vigencia</th>
                                                                <th>Costo</th>
                                                            
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Bolsa Voz</td>
                                                                <td>50</td>
                                                                <td>30 días</td>
                                                            
                                                                <td>$ 2.000</td>
                                                            </tr>
                                                    
                                                                
                                                    
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>

                                        

                                            <div role="tabpanel" class="tab-pane fade in" id="htab2">
                                               
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Cuota de datos libres</th>
                                                                <th>Vigencia</th>
                                                                
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Bolsa 1 día</td>
                                                                <td>50 MB</td>
                                                                <td>1 día</td>
                                                                
                                                                <td>$ 250</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bolsa 30 días</td>
                                                                <td>1 GB</td>
                                                                <td>30 días</td>
                                                                
                                                                <td>$ 5.000</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Bolsa 15 días</td>
                                                                <td>500 MB</td>
                                                                <td>15 días</td>
                                                                
                                                                <td>$ 2.500</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Bolsa 7 días</td>
                                                                <td>200 MB</td>
                                                                <td>15 días</td>
                                                                
                                                                <td>$ 1.000</td>
                                                            </tr>
                                                             <tr>
                                                                <td>Bolsa 3 días</td>
                                                                <td>100 MB</td>
                                                                <td>3 días</td>
                                                                
                                                                <td>$ 500</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                               
                                       

                                            <div role="tabpanel" class="tab-pane fade in" id="htab3">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                            
                                                                <th>Minutos</th>
                                                                <th>Vigencia</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Bolsa 3 día</td>
                                                                <td>100 MB</td>
                                                                <td>50 </td>
                                                                <td>3 días</td>
                                                                
                                                                <td>$ 500</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bolsa 30 días</td>
                                                                <td>1 GB</td>
                                                                <td>50</td>
                                                                <td>30 días</td>
                                                               
                                                                <td>$ 6.000</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Bolsa 15 día</td>
                                                                <td>500 MB</td>
                                                                <td>50 </td>
                                                                <td>15 días</td>
                                                                
                                                                <td>$ 3.500</td>
                                                            </tr>
                                                              <tr>
                                                                <td>Bolsa 7 días</td>
                                                                <td>200 MB</td>
                                                                <td>50</td>
                                                                <td>7 días</td>
                                                               
                                                                <td>$ 2.000</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab4">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>internet</th>
                                                                <th>SMS</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Extra GIGAS 7 GB</td>
                                                                <td>300 </td>
                                                                <td> 7 GB</td>
                                                                <td> 50</td>
                                                                <td> $15.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Plan 2 GIGAS</td>
                                                                <td>200 </td>
                                                                <td> 2 GB</td>
                                                                <td> 50</td>
                                                                <td> $9.990</td>
                                                            </tr>
                                                               <tr>
                                                                <td class="text-nowrap">Plan 5 GIGAS</td>
                                                                <td> 500 </td>
                                                                <td> 5 GB</td>
                                                                <td> 50</td>
                                                                <td> $15.990</td>
                                                            </tr>
                                                              <tr>
                                                                <td class="text-nowrap">Plan 7 GIGAS</td>
                                                                <td> 1000 </td>
                                                                <td> 7 GB</td>
                                                                <td> 50</td>
                                                                <td> $19.990</td>
                                                            </tr>
                                                               <tr>
                                                                <td class="text-nowrap">Plan 10 GIGAS</td>
                                                                <td>2000</td>
                                                                <td> 10 GB</td>
                                                                <td> 50</td>
                                                                <td> $29.990</td>
                                                            </tr>                                   
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div role="tabpanel" class="tab-pane fade in" id="htab5">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Internet</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Solo datos 2 GB</td>
                                                                <td> 2G</td>
                                                                <td>$ 8.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Solo datos 5 GB</td>
                                                                <td>5G</td>
                                                                <td>$ 14.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Solo datos 7 GB</td>
                                                                <td>7G</td>
                                                                <td>$ 19.000</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Solo datos 10 GB</td>
                                                                <td>10G</td>
                                                                <td>$ 28.990</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                    
                                            <div role="tabpanel" class="tab-pane fade in" id="htab6">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-nowrap">Nombre</th>
                                                                <th>Minutos</th>
                                                                <th>Costo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-nowrap">Solo voz 200</td>
                                                                <td> 200</td>
                                                                <td>$ 8.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Solo voz 500 GB</td>
                                                                <td>500</td>
                                                                <td>$ 14.990</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-nowrap">Solo voz 1000</td>
                                                                <td>1000</td>
                                                                <td>$ 18.990</td>
                                                            </tr>
                                                             <tr>
                                                                <td class="text-nowrap">Solo voz 2000</td>
                                                                <td>2000</td>
                                                                <td>$ 28.990</td>
                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>   
                        </div>

                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-phone fa-fw"></i>  Servicios
                                </div>

                                <div class="panel-body">
                                    <ul>
                                        <li>Control y restricción de usos</li>
                                        <li>Actualización de cambios online</li> 
                                        <li>Flexibilidad para reasignar los servicios contratados</li>
                                        <li>Notificaciones de consumo</li> 
                                        <li>Administración de grupos de usuarios</li> 
                                        <li>Ofera de minutos a todo destino</li> 
                                        
                                    </ul>
                                </div>

                                
                            </div>
                        </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-twitter fa-fw"></i> Tweets para WOM
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <div class="mydiv">
                                                    <table class="table table-bordered table-hover table-striped" >
                                                        <thead >
                                                            <tr class="info" >
                                                                <th>usuario</th>
                                                                <th>fecha</th>
                                                                <th>text</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="compania in compania">
                                                                <td>
                                                                    {{compania.usuario}} 
                                                                </td>
                                                                <td>
                                                                    {{compania.fecha}}
                                                                </td>
                                                                <td>
                                                                    {{compania.text}}
                                                                </td>
                                                            </tr> 
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div> <!-- div especifico para esta tabla -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>