.nvtooltip {
  display: none!important;
background: #000;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

#mapa {
  	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
#container_mapa {

	padding-top:50%;
	position: relative;
}
.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px; }

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
  min-height: 48px; }

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
  padding: 0; }

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141; }

.bottomSheetdemoBasicUsage md-toast > * {
  font-weight: bolder; }

.button {
    background-color: #4e42d4; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


